<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="server=ROBB-LT02\ROBLT;database=SmartSession_EF_2;Integrated Security=True;Connection Reset=true;"/>
  </connectionStrings>
  <runtime>
  </runtime>
</configuration>